body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal;
}

ol, ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

/*清除浮动*/
.clearfix {
  zoom: 1;
}

/*==for IE6/7 Maxthon2==*/
.clearfix :after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

/*menu*/
.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
  padding: 0;
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu), .ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  color: #fff;
  background: #2d8cf0!important;
}

.ivu-menu-submenu-title {
  text-align: left;
}

.ivu-menu  .singleItem {
  text-align: left;
  padding: 0 0 0 2px;
}

.ivu-icon-ios-close-empty {
  z-index: 999
}

._transfer {
  display: inline-block;
}

.ivu-modal-body {
  text-align: center;
}

td {
  word-break:keep-all; /* for ie */
  white-space:nowrap; /* for chrome */
}

.ivu-select-single,.ivu-form-item-content {
  text-align: left;
}
